<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Yelpcamp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
        <li class="list-group-item">Info 4</li>
      </div>
    </div>
    <div class="col-md-9" >
      <div class="img-thumbnail mb-3">
        <img class ="image-fluid mx-auto d-block" src="<%= campground.image %>" alt="">
        <div class="caption p-2">
          <h5 class="float-right"><%= campground.price %>$<span class="text-muted small">/night</span></h4>
          <h5 class="text-left"><a href=""><%= campground.name %></a></h4>
          <p><%= campground.description %></p>
          <p>
            <em>Submitted By <%= campground.author.username %></em>
          </p>
          <% if (currentUser){ %>
            <% if(campground.author.id.equals(currentUser._id)){ %>
            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning text-white">Edit</a>
            <form class="deleteForm" action="/campgrounds/<%= campground._id %>/delete?_method=DELETE" method="POST">
              <input type="submit" class="btn btn-sm btn-danger " value="Delete" >
            </form>
            <% } %>
          <% } %>
        </div>
      </div>
      <div class="card card-body bg-light">
        <div class="text-right">
          <a href="<%= campground._id %>/comments/new" class="btn btn-success">Add comment</a>
        </div>
          <% campground.comments.forEach((comment)=>{  %>
            <div class="row">
              <div class="col-md-12">
                <hr class="solid">
                <strong><%= comment.author.username%></strong><span class="float-right font-italic">10 days ago</span>
                <p>
                  <%= comment.text%>
                </p>
                <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                  <a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit" class="btn btn-sm btn-warning">Edit</a>
                  <form class="deleteForm" action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/delete?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                  </form>
                <% } %>
              </div> 
            </div>
          <% }) %>
      </div>
    </div>
</div>


<%- include("../partials/footer") %> 
